Package: com.randy420.taidependscoolstar
Name: Theos Auto Installer Dependencies for Procursus based jailbreaks
Depends: theos-dependencies, swift
Conflicts: com.randy420.taidependsother, com.randy420.taidependslegacy
Architecture: iphoneos-arm
Description: Dependencies for Procursus based jailbreaks (known as coolstar jailbreaks)
Depiction: https://Randy-420.GitHub.io/depic/taidependscoolstar.html
Homepage: https://theemeraldisle.family
Maintainer: Randy420 <randy.skinner@hotmail.com>
Author: Randy420 <randy.skinner@hotmail.com>
Version: 0.6
Replaces: com.randy420.taidependsother, com.randy420.taidependslegacy
Section: System
Tag: role::hacker