Package: com.randy420.taidependscoolstar
Name: Theos Auto Installer
Depends: theos-dependencies
Conflicts: com.randy420.taidependsother, org.theos.dependencies
Architecture: iphoneos-arm
Description: dependencies for coolstar's jailbreaks
Depiction: https://Randy-420.GitHub.io/depic/taidependscoolstar.html
Homepage: https://theemeraldisle.family
Maintainer: Randy420 <randy.skinner@hotmail.com>
Author: Randy420 <randy.skinner@hotmail.com>
Version: 0.1
Replaces: com.randy420.taidependsother, org.theos.dependencies
Section: System
Tag: role::hacker